@font-face{font-family:'molotregular';src:url('../typeface/molot/Molot-webfont.eot');src:url('../typeface/molot/Molot-webfont.eot?#iefix') format('embedded-opentype'),
url('../typeface/molot/Molot-webfont.woff') format('woff'),
url('../typeface/molot/Molot-webfont.ttf') format('truetype'),
url('../typeface/molot/Molot-webfont.svg#molotregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'playregular';src:url('../typeface/play/play-regular-webfont.eot');src:url('../typeface/play/play-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('../typeface/play/play-regular-webfont.woff') format('woff'),
url('../typeface/play/play-regular-webfont.ttf') format('truetype'),
url('../typeface/play/play-regular-webfont.svg#playregular') format('svg');font-weight:normal;font-style:normal;}
body{font-family:"Carrois Gothic SC";font-size:14px;line-height:1.428571429;color:#fff;background-color:#242424;}
.panel{margin-bottom:20px;background-color:rgba(9,9,8,0.9);border:0px solid transparent;border-radius:0px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.05);box-shadow:0 1px 1px rgba(0,0,0,0.05);}
.nav>li>a:hover, .nav>li>a:focus{text-decoration:none;background-color:inherit;color:#fff;}
.vcenter{display:inline-block;vertical-align:middle;float:none;}
.circular-pic{border-radius:50%;}
a:hover, a:focus{color:#fff;text-decoration:none;}
.active{color:#09f;text-decoration:underline;}
.active:hover{text-decoration:underline;}
a{color:#bababa;}
.product-link:hover>.row>.col-md-12>p{color:#fff;}
.product-link:hover>.row>.col-md-12>h4{color:#fff;}
.product-link:hover{color:#fff;}
.product-link-sm{min-height:15px;padding:6px;margin-bottom:20px;background-color:inherit;border-color:transparent;border:0px solid #303030;border-radius:0px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);}
.product-link{min-height:20px;padding:0px;margin-bottom:20px;background-color:inherit;border-color:transparent;border:0px solid #303030;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);padding:15px;}
.well, .well-sm, .well-lg{min-height:20px;padding:19px;margin-bottom:20px;background-color:#212121;border-color:transparent;border:0px solid #303030;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);}
.badge{background-color:#09f;}
hr{margin-top:20px;margin-bottom:20px;border:5;border-top:1px solid #303030}
.hr-sm{margin-top:5px;margin-bottom:5px;}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{color:#fff;text-decoration:none;background-color:rgb(9,9,8);}
.navbar-default .navbar-brand{color:#bababa;}
.navbar-default .navbar-text{color:#bababa;}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{color:inherit;background-color:transparent;}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{color:inherit;background-color:transparent;}
.navbar-default .navbar-toggle{border-color:rgba(9,9,8,0.9);}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{border-color:rgba(9,9,8,0.9);}
.navbar-default .navbar-nav>li>a{color:#bababa;}
.navbar-default a:hover .caret{border-top-color:rgb(9,9,8);border-bottom-color:rgb(9,9,8);}
.text-primary{color:#09f;}
.pager li>a, .pager li>span{display:inline-block;padding:5px 14px;background-color:rgb(9,9,8);border:1px solid transparent;border-radius:15px;}
.pager li>a:hover, .pager li>a:focus{text-decoration:none;background-color:rgb(9,9,8);color:#fff;}
.btn-primary{color:#fff;background-color:#09f;border-color:#09f;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{color:#fff;background-color:#08d;border-color:#09f;}
.top-bottom-space{margin-top:20px;margin-bottom:90px;}
.top-bottom-space-s{margin-top:10px;margin-bottom:30px;}
footer{background-color:rgba(9,9,8,0.9);}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{padding-right:10px;padding-left:10px;}
.play{font-family:"Carrois Gothic SC";}
.molot{font-family:"molotregular";letter-spacing:1px;}
.grey-text{color:#bababa;}
h5,p{letter-spacing:0.1mm;}
h1,h2,h3{font-family:"molotregular";letter-spacing:1px;}
input{color:#333;}
.footer-col{margin-top:20px;margin-bottom:40px;}
.modal{color:#333;}
.input-group-addon{background-color:#fff;}